@model ProjectApp.Models.RegisterVM

<h2>Registrera dig</h2>

<form asp-action="Register" method="post">
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" type="password"/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="alert alert-warning">
        <strong>Observera!</strong> Ditt lösenord måste uppfylla följande krav:
        <ul>
            <li>Minst 6 tecken långt</li>
            <li>Innehålla minst en icke-alfanumerisk karaktär (t.ex. !, #, $)</li>
            <li>Innehålla minst en siffra (0-9)</li>
            <li>Innehålla minst en versal (A-Z)</li>
        </ul>
    </div>
    
    <button type="submit">Registrera</button>
</form>

<div>
    <a asp-action="Login">Logga in</a>
</div>
